<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--    扫描组件-->
<!--	<context:component-scan base-package="main" use-default-filters="false">-->
<!--		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--	</context:component-scan>-->

	<!--    升级适配器-->
	<mvc:annotation-driven></mvc:annotation-driven>
<!--	<mvc:default-servlet-handler default-servlet-name="default"></mvc:default-servlet-handler>-->



	<!--    处理文件上传-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="maxUploadSize" value="10240000"></property>
	</bean>

	<!--    配置拦截器-->
<!--	<mvc:interceptors>-->
<!--		&lt;!&ndash;   为所有请求设置拦截器&ndash;&gt;-->
<!--		<bean id="firstHandlerInterceptor" class="main.controller.FirstHandlerInterceptor"></bean>-->
<!--		&lt;!&ndash;        <mvc:interceptor>&ndash;&gt;-->
<!--		&lt;!&ndash;     表示指定拦截器只拦截/test/下的所有请求&ndash;&gt;-->
<!--		&lt;!&ndash;            <mvc:mapping path="/test/**/"/>&ndash;&gt;-->
<!--		&lt;!&ndash;     表示访问/test/test.do的请求不会触发拦截器&ndash;&gt;-->
<!--		&lt;!&ndash;            <mvc:exclude-mapping path="/test/test.do"/>&ndash;&gt;-->
<!--		&lt;!&ndash;            <bean id="testInterceptor" class="main.controller.TestInterceptor"></bean>&ndash;&gt;-->
<!--		&lt;!&ndash;        </mvc:interceptor>&ndash;&gt;-->
<!--	</mvc:interceptors>-->

	<!--    配置异常解析器-->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!--    为所有异常定义默认的处理页面,exceptionMappings未定义的，
                value表示跳转页面，至于文件路径和后缀已经在 viewResolver 中指定-->
		<property name="defaultErrorView" value="error"></property>
		<!--    定义异常处理页面用来获取异常信息的变量名，被存放到 request 域中-->
		<property name="exceptionAttribute" value="exception"></property>
		<!--    需要特殊处理的异常，全类名作为key，异常页文件名作为值，可将不同的异常映射到不同的页面上-->
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.NullPointerException">nullPointer</prop>
			</props>
		</property>
	</bean>

	<bean id="simpleUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/userList.htm">userController</prop>
				<prop key="/*.htm">userControllerTest</prop>
			</props>
		</property>
	</bean>

	<bean id="userController" class="com.xxq.resource.UserController"/>
	<bean id="userControllerTest" class="com.xxq.resource.UserControllerTest"/>

</beans>